

.navtop{
    background-color: #5865f2;
    color: white;
    display:flex;
}
.navtop a{
    color: white;
}

.btn_open_discord{
    border-radius: 20px;
    width:120px;
    height:40px;
}
.btn_open_discord:hover{
    color:#5865f2
}

button .brand {
    background-color: #5865f2;
    color: white;
}

footer {
    color: #23272a;
}

h5 {
    color: #5865f2;
}