


/*----  Start Header  --*/
.navtop{
    background-color: #5865f2;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.navtop_middle a{
    color: white;
    text-decoration:none;

}

.navtop_middle a:hover{
    color: white;
    text-decoration:underline;

}

.navtop_middle{
    display: flex;
    justify-content: space-around;
}

.btn_open_discord{
    border-radius: 20px;
    width:120px;
    height:40px;
}
.btn_open_discord:hover{
    color:#5865f2
}
/*----  Ende Header  --*/

.brand {
    background-color: #5865f2;
    color: white;
}

footer {
    background-color: #23272a;
    color: white;
    padding: 20px 60px;
}

footer > * {
    margin: 40px 0px;
}

footer a {
    color: white;
    text-decoration: none;
}

h5 {
    color: #5865f2;
}

footer .flex-linktree {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

footer .flex-linktree .flex-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .flex-linktree .flex-4 div {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

footer .flex-bottom {
    display: flex;
    justify-content: space-between;
}

footer .separator {
    padding-top: 1px;
}